Source: hamonikr-zsh
Section: utils
Priority: optional
Maintainer: HamoniKR <pkg@hamonikr.org>
Homepage: https://github.com/hamonikr/hamonikr-zsh
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: hamonikr-zsh
Architecture: all
Depends: git,
         powerline,
         zsh-theme-powerlevel9k,
         python3-powerline,
         autojump,
         zsh-autosuggestions,
         zsh-syntax-highlighting
Recommends:
Description: Default Terminal and Shell for HamoniKR
 하모니카 OS의 기본 터미널 설정을 ZSH 로 변경하는 패키지.
