Source: hamonikr-zsh
Section: utils
Priority: optional
Maintainer: HamoniKR <pkg@hamonikr.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: hamonikr-zsh
Architecture: amd64
Depends: 
Recommends: git,
            powerline,
            zsh-theme-powerlevel9k,
            python3-powerline,
            autojump,
            zsh-autosuggestions,
            zsh-syntax-highlighting
Description: Default Terminal and Shell for HamoniKR
 하모니카 OS의 기본 터미널 설정 도구.
